body {
  background-color: #282c31 !important;
}

#index body {
  margin: 0;
  overflow: hidden;
}
#index .video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 56.25vw;
  min-height: 100vh;
  min-width: 177.78vh;
  pointer-events: none;
  z-index: -1;
}

#index main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#index img {
  max-width: 400px;
  position: relative;
  z-index: 1;
}

#index img {
  max-width: 400px;
  object-fit: fill;
}

#register main {
  width: 980px;
  padding: 24px 0;

  section#form-user {
    background-color: #fff;
    padding: 24px;
    border-radius: 8px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    #cadastro-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      box-sizing: border-box;

      select {
        &:invalid {
          color: gray;
          font-size: 0.9rem;
        }
      }

      input::placeholder {
        color: gray;
        font-size: 0.9rem;
      }

      .input-row {
        display: flex;
        gap: 6px;
      }

      .item:nth-child(1) {
        flex-grow: 1;
        width: 60%;
      }

      .item:nth-child(2) {
        flex-grow: 1;
        width: 40%;
      }
    }
  }
}

#list-user main {
  width: 100%;
  padding: 24px 0;

  #tabela-usuarios {
    font-size: 0.7rem;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 2px;
    background-color: #fff;
    border-radius: 8px;
    padding: 12px 12px;

    td {
      padding: 12px;
      text-transform: uppercase;
    }

    tr:not(:first-child):nth-child(odd) {
      background-color: #dfdfdf;
    }

    tr:nth-child(even) {
      background-color: #f1f1f1;
    }
  }
}
